*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #7ca8e6;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
.contador{
    display: flex;
    gap: 2rem;
}
button{
    background-color: blue;
    border: blue;
    color: white;
    padding: 3% 5%;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}